body{
    width: 100%;
    height: 100%;
    margin: 0%;
}

.headprinc{
    width: 100vw;
    height: 100vh;
    background: #8027f5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}